/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*CSS Helpers*/

.underline {
	text-decoration: underline;
}

.overflow {
	height: 3em;
	overflow: scroll;
}
.padding-top-spacer {
padding-top: 10em;
}
.bottom-margin {
	margin-bottom:3em;
}
.center {
  text-align: center!important;
}
.hide {
  display:none;
}

/**/

.home-button {
	font-size: 2em!important;
	margin-top: 1em;
}
a:visited {
	color: white;
}

.index-headers {
	margin-bottom: 3em;
	opacity: 0.5;
}